#logs {
    width: 30%;
    max-width: 400px;
    min-height: 720px;
    max-height: 720px;
    // background-color: hsl(250 17% 16% / 1);
    background-color: #4c4452;

    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    overflow-y: auto;

    color: #fff;

    padding: 0 24px 24px 24px;

    font-family: "Courier Prime", monospace;

    h1 {
        margin: 24px 0 ;
    }

    .log {
        display: block;
        margin-bottom: 8px;
        font-size: 24px;
    }
}